/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: black;
  font-size: 30px;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 1.5rem;
}

.nav a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.nav a:hover {
  color: #00bfff;
}

/* Estilos do botão hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  transition: all 0.3s ease;
}

/* Animação do hamburger aberto */
.rotate1 {
  transform: rotate(45deg) translate(5px, 5px);
}

.fade {
  opacity: 0;
}

.rotate2 {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Responsivo: Mobile */
@media (max-width: 768px) {
  .nav {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #1a1a1a;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    display: none;
  }

  .navLetter {
    font-size: 30px;
  }

  .nav.open {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}
